<div id="filter-container">
    <h4>Filter by... <button id="sm-reset" class="btn btn-accent-clear">Reset</button><i class="fas fa-chevron-down arrow d-md-none"></i></h4>
    <div id="bedroom-accordion" class="dom-accordion">
        <div aria-expanded="false" aria-controls="collapseTwo" id="headingTwo" class="accordion-header" data-bs-target="#collapseTwo" data-bs-toggle="collapse">
            <h6 class="mb-0">Bedrooms <i class="fas fa-chevron-down arrow"></i></h6>
        </div>
        <div id="collapseTwo" style="height:0;" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#bedroom-accordion">
            <select class="Bedrooms form-control">
                <option selected="">Bedrooms</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <!--End of Accordion-->
    <div id="guests-accordion" class="dom-accordion">
        <div aria-expanded="false" aria-controls="collapse3" id="heading3" class="accordion-header" data-bs-target="#collapse3" data-bs-toggle="collapse">
            <h6 class="mb-0">Guests <i class="fas fa-chevron-down arrow"></i></h6>
        </div>
        <div id="collapse3" style="height:0;" class="collapse" aria-labelledby="heading3" data-bs-parent="#guests-accordion">
            <select class="Sleeps form-control">
                <option selected="">Guests</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <!--End of Accordion-->
    <div id="type-accordion" class="dom-accordion">
        <div aria-expanded="false" aria-controls="collapse4" id="heading4" class="accordion-header" data-bs-target="#collapse4" data-bs-toggle="collapse">
            <h6 class="mb-0">Property Type <i class="fas fa-chevron-down arrow"></i></h6>
        </div>
        <div id="collapse4" style="height:0;" class="collapse" aria-labelledby="heading4" data-bs-parent="#type-accordion">
            <select class="propType form-control" id="propType">
                <option>
                    Property Type
                </option>
                <option value="4">
                    Villa
                </option>
                <option value="2">
                    Town Home
                </option>
                <option value="1">
                    Condo
                </option>
                <option value="12">
                    Studio Apartment
                </option>
                <option value="16">
                    Resort Home
                </option>
                <option value="14">
                    Luxury Home
                </option>
            </select>
        </div>
    </div>
    <!--End of Accordion-->
    <div id="amenities-accordion" class="dom-accordion">
        <div aria-expanded="false" aria-controls="collapse6" id="heading6" class="accordion-header" data-bs-target="#collapse6" data-bs-toggle="collapse">
            <h6 class="mb-0">Amenities <i class="fas fa-chevron-down arrow"></i></h6>
        </div>
        <div id="collapse6" style="height:0;" class="collapse" aria-labelledby="heading6" data-bs-parent="#amenities-accordion">
            <div class="amenitiy-input">
                <input id="Aircon" type="checkbox" class="Aircon" name="check">
                <label for="Aircon">Air Conditioning </label>
            </div>

            <div class="amenitiy-input">
                <input id="clubhouse" class="clubhouse" type="checkbox" name="check">
                <label for="clubhouse">Club House</label>
            </div>
            <div class="amenitiy-input">
                <input id="pool" class="pool" type="checkbox" name="check">
                <label for="pool"> Community Pool</label>
            </div>
            <div class="amenitiy-input">
                <input id="conservationview" class="conservationview" type="checkbox" name="check">
                <label for="conservationview">Conservation View</label>
            </div>
            <div class="amenitiy-input">
                <input id="heatedpool" class="heatedpool" type="checkbox" name="check">
                <label for="heatedpool">Private Pool</label>
            </div>
            <div class="amenitiy-input">
                <input id="spa" class="spa" type="checkbox" name="check">
                <label for="spa">Spa</label>
            </div>
            <div class="amenitiy-input">
                <input id="bbq" class="bbq" type="checkbox" name="check">
                <label for="bbq">Grill</label>
            </div>
            <div class="amenitiy-input">
                <input id="laundry" class="laundry" type="checkbox" name="check">
                <label for="laundry">Laundry In Unit</label>
            </div>
            <div class="amenitiy-input">
                <input id="petfriendly" class="petfriendly" type="checkbox" name="check">
                <label for="petfriendly">Pets Allowed</label>
            </div>
            <div class="amenitiy-input">
                <input id="privacyfence" class="privacyfence" type="checkbox" name="check">
                <label for="privacyfence">Privacy Fence</label>
            </div>
            <div class="amenitiy-input">
                <input id="waterview" class="waterview" type="checkbox" name="check">
                <label for="waterview">Water View</label>
            </div>
            <div class="amenitiy-input">
                <input id="wifi" class="wifi" type="checkbox" name="check">
                <label for="wifi">Wi-Fi</label>
            </div>
        </div>
    </div>
    <!--End of Accordion-->
    <button id="mobile-reset" class="btn-accent-clear d-md-none">Reset</button>
</div>