@import 'variables.scss';
footer {
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: $secondary-color;
    border-top: 3px solid $logo-secondary-color;
    .container {
        margin-bottom: 27px;
    }
    #footer-logo {
        max-width: 100%;
    }
    ul {
        padding: 0;
        list-style: none;
        a {
            color: white;
        }
    }
    #disclaimer {
        font-size: 15px;
    }
    #copyright {
        margin: 0;
    }
}

@media (min-width: 768px) {
    footer {
        padding-top: 40px;
        padding-bottom: 10px;
        ul {
            margin: 0;
        }
    }
}