<header>
    <div class="container nav-container">
        <div class="row">
            <div class="col-sm-12">
                <a class="navbar-brand" routerLink="/">
                    <img class="nav-logo" src="/assets/images/logo.png" alt="Kefi Rentals">
                </a>
            </div>
        </div>
    </div>
</header>

<section id="close-search" class="greyed-section real-search d-md-none" [class.d-none]='!open_search' (click)='toggleSearchWidget(false)'>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-secondary pseudo-search-btn form-control">Close
                    Search <i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                    <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<form id="search-widget" class="greyed-section" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="container real-search d-md-block" [class.d-none]='!open_search'>
        <div class="row with-forms">
            <div class="col-sm-12 col-md-6 col-lg-2-5">
                <label for="location">Location</label>
                <div class="input-with-icon right-icon">
                    <div id="autocomplete-container">
                        <input id="location" formControlName="location" class="form-control" placeholder="Orlando, FL" />
                    </div>
                    <i class="fa fa-map-marker-alt"></i>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2-5">
                <label for="roomType">Room Type</label>
                <div class="input-with-icon right-icon">
                    <div id="autocomplete-container">
                        <select id="roomType" formControlName="roomType" name="roomType" class="form-control">
                                <option value="0" selected>Any</option>
                                <option value="1">Entire Home</option>
                                <option value="2">Private Room</option>
                                <option value="3">Shared Room</option>
                            </select>
                    </div>
                    <i class="fa fa-bed"></i>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2-5">
                <label for="DateFrom">Date of Stay</label>
                <!-- <div class="input-with-icon right-icon">
                        <input id="dateFrom" formControlName="dateFrom" name="DateFrom" type="text" class="form-control" placeholder="Arrival Date" />
                        <i class="far fa-calendar-alt"></i>
                    </div> -->
                <div class="input-with-icon">
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Enter a date range</mat-label> -->
                        <mat-date-range-input [formGroup]="searchForm" [rangePicker]="picker">
                            <input matStartDate formControlName="dateFrom" placeholder="Start date" class="range-input">
                            <input matEndDate formControlName="dateTo" placeholder="End date" class="range-input">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="searchForm.controls.dateFrom.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="searchForm.controls.dateTo.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="col-sm-12 col-md-4 col-lg-2-5">
                    <label for="DateTo">Departure</label>
                    <div class="input-with-icon right-icon">
                        <input id="dateTo" formControlName="dateTo" name="DateTo" type="text" class="form-control" placeholder="Departure Date" />
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div> -->
            <div class="col-sm-12 col-md-4 col-lg-2-5">
                <label for="search">&nbsp;</label>
                <button id="search" type="submit" class="btn btn-accent">Find Rentals <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div id="pseudo-search" class="container d-md-none" [class.d-none]='open_search' (click)='toggleSearchWidget(true)'>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-accent">Find Rentals <i
                        class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>