<div *ngIf="info" class="card" [class.list-view]="displayMode == 'list'" style="width: 100%;">
    <a [routerLink]="['/property', getPropertyId(info)]"style="background-image:url('{{info.img_cover}}');" [title]="info.title" class="w-100 prop-img"></a>
    <div class="card-body text-center">
        <p class="starrating text-center text-accent">
            <app-rating [rating]="info.rating"></app-rating>
        </p>
        <h5 class="text-center">{{info.title}}</h5>
        <h6>{{info.property_type}}</h6>
    </div>
    <div class="card-body">
        <a [routerLink]="['/property', getPropertyId(info)]" class="btn btn-accent">CONTINUE</a>
        <hr />
        <span class="tag"><span class="price"><b>{{info.adr | currency}}</b>
                <span> /night</span></span>
        </span>
    </div>
</div>