$accent-color: #37b449;
$logo-secondary-color: #8cc53f;
$alternative-color: #298336;
$secondary-color: #333333;
$search-background: #eeeeee;
$placeholder-color: #9e9e9e;
$main-font: Roboto,
sans-serif;
$secondary-font: 'metropolislight',
Arial,
sans-serif;
$font-weight: normal;
$font-style: normal;