$accent-color: #298336;
$alternative-color: #37b449;
$secondary-color: #333333;
$main-font: Circular,
-apple-system,
BlinkMacSystemFont,
Roboto,
Helvetica Neue,
sans-serif;
$secondary-font: 'metropolislight',
Arial,
sans-serif;
$font-weight: normal;
$font-style: normal;