<div class="container mt-2">
    <div *ngIf="details != null; else loading" class="row">
        <div class="col-md-8">
            <div class="content-card">
                <h3>{{details.listingReducer.propertyName}}</h3>
                <p>{{details.listingReducer.headline}}</p>
                <hr />
                <p class="starrating">Rating <span class="text-accent" [innerHtml]="starrating(details.listingReducer.averageRating)"></span></p>
                <div>
                    <ks-carousel [id]="100" [images]="carouselImages" [playConfig]="{autoPlay: false, interval: 5000, pauseOnHover: true}" [dotsConfig]="{visible: false}"></ks-carousel>
                </div>
                <div class="info-container">
                    <button class="btn-details" [class.active]="displayMode=='overview'" (click)="displayMode='overview' ;">Overview</button>
                    <button class="btn-details" [class.active]="displayMode=='map'" (click)="displayMode='map' ;">Map</button>

                    <div id="overview-container" class="info-section" [class.d-none]="displayMode !='overview'">
                        <p id="description">{{ details.listingReducer.description }}</p>
                    </div>

                    <div id="map-container" class="info-section" [class.d-none]="displayMode !='map'">
                        <app-map *ngIf="displayMode == 'map'" [properties]="[details.listingReducer.geoCode]"></app-map>
                    </div>
                </div>
                <hr />
                <div id="availability-accordion" class="accordion mb-2">
                    <div class="card">
                        <div id="availability-heading" class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse-availability" aria-expanded="true" aria-controls="collapse-availability">
                            <h5 class="mb-0">Availability <span class="fas fa-chevron-down float-end"></span></h5>
                        </div>

                        <div id="collapse-availability" class="collapse show" aria-labelledby="availability-heading" data-bs-parent="#availability-accordion">
                            <div class="card-body">
                                This is the calendar [10/21/21]
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->

                <div id="reviews-accordion" class="accordion" *ngIf="details.reviewsReducer.reviews.length > 0">
                    <div class="card">
                        <div id="reviews-heading" class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse-reviews" aria-expanded="true" aria-controls="collapse-reviews">
                            <h5 class="mb-0">Reviews <span class="fas fa-chevron-down float-end"></span></h5>
                        </div>

                        <div id="collapse-reviews" class="collapse show" aria-labelledby="reviews-heading" data-bs-parent="#reviews-accordion">
                            <div class="card-body">
                                <ng-container *ngFor="let review of details.reviewsReducer.reviews; index as i;">
                                    <div>
                                        <p>{{review.reviewer.nickname}}</p>
                                        <h6>{{review.headline}}</h6>
                                        <p>{{review.body}}</p>
                                        <hr *ngIf="i != (details.reviewsReducer.reviews.length-1)" />
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
        <div class="col-md-4">
            <div id="scroll-container" class="content-card" style="position: relative; width: unset; top: unset;">
                <div class="row">
                    <div id="reservationform" class="boxed-widget booking-widget margin-top-35">
                        <div class="col-lg-12">
                            <h3>From <span>{{details.listingReducer.priceSummary.amount | currency}}</span> / night</h3>
                        </div>
                        <div class="row with-forms margin-top-0">
                            <div class="col-lg-12"><input id="DateFrom" class="DateFrom form-control hasDatepicker" readonly="readonly" placeholder="Arrival Date"> </div>
                            <div class="col-lg-12"><input id="DateTo" class="DateTo form-control hasDatepicker" readonly="readonly" placeholder="Departure Date"> </div>
                            <div class="col-lg-12"><select id="PoolHeat" class="form-control">
                                    <option selected="" value="0">Pool Heat</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select> </div>
                        </div>
                        <div class="col-lg-12">
                            <div id="QuotedpErrorMsg" style="color: red"></div><button class="button book-now fullwidth form-control" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loading>
    <div class="row">
        <div class="col-12">
            <div id="loading-wrapper">
                <div id="load-box" class="text-center">
                    <div class="spinner-border text-accent" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div id="force-height"></div>
        </div>
    </div>
</ng-template>