<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <section id="landing-image">
                <div class="text-center">
                    <h1 class="text-white">Serving Happiness</h1>
                    <h4 class="mb-4">Book your stay with Kefi</h4>
                    <a class="btn-accent" [routerLink]="['/search']">Book Now</a>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="destinations">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h2 class="heading text-center"><span class="d-inline-block">Destination News<hr/></span></h2>
            </div>
        </div>
    </div>
</section>