<link rel="preconnect" href="http://kefi-api.herokuapp.com/">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <header id="landing-header" >
                <img id="landing-image" sizes="(max-width: 1400px) 100vw, 1400px"
                    srcset="/assets/images/landing-images/landing-image_scale,w_200.jpg 200w,
                    /assets/images/landing-images/landing-image_scale,w_480.jpg 480w,
                    /assets/images/landing-images/landing-image_scale,w_719.jpg 719w,
                    /assets/images/landing-images/landing-image_scale,w_913.jpg 913w,
                    /assets/images/landing-images/landing-image_scale,w_955.jpg 955w,
                    /assets/images/landing-images/landing-image_scale,w_1230.jpg 1230w,
                    /assets/images/landing-images/landing-image_scale,w_1356.jpg 1356w,
                    /assets/images/landing-images/landing-image_scale,w_1394.jpg 1394w,
                    /assets/images/landing-images/landing-image_scale,w_1400.jpg 1400w"
                    src="/assets/images/landing-images/landing-image_scale,w_1400.jpg"
                    alt="Picture of a Resort">
                <div id="landing-overlay"></div>
                <div id="landing-message" class="text-center">
                    <h1 class="text-white">Serving Happiness</h1>
                    <p class="mb-4">Book your stay with Kefi</p>
                    <a class="btn-accent" [routerLink]="['/search']">Book Now</a>
                </div>
            </header>
        </div>
    </div>
</div>

<section id="destinations">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h2 class="heading text-center"><span class="d-inline-block">Destination News<hr/></span></h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <ng-container *ngIf="destinations != null && destinations.length > 0; else destinations_loading">
                <div class="col mb-3" *ngFor="let destination of destinations">
                    <div class="card">
                        <a [href]="destination.url" target="_blank" class="card-header p-0">
                            <img [src]="destination.thumbnail.src" [alt]="destination.thumbnail.alt" class="w-100" />
                        </a>
                        <div class="card-body">
                            <div class="card-flex-body">
                                <a [href]="destination.url" target="_blank">
                                    <h4>{{destination.headline}}</h4>
                                </a>
                                <small class="text-muted mb-1"><i class="fas fa-map-marker-alt"></i> {{destination.location.title}}</small>
                                <!-- <a *ngIf="locationSearch && locationSearch[destination.location.title]" [routerLink]="['/search']" [queryParams]="locationSearch[destination.location.title]" class="text-center text-muted">Browse Properties</a> -->
                                <a (click)="searchByLocation(destination.location.title)" class="text-center text-muted">Browse Properties</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<ng-template #destinations_loading>
    <div *ngFor="let n of numSequence(6)" class="col mb-3">
        <div class="card ph-item-animation">
            <div class="card-header p-0">
                <div class="ph-picture"></div>
            </div>
            <div class="card-body d-block">
                <div class="ph-row">
                    <div class="ph-col-10 big"></div>
                    <div class="ph-col-2 empty big"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-4"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>