<div class="container mt-2">
    <div *ngIf="payload != null; else loading" class="row">
        <div class="col-md-8">
            <div class="content-card">
                <h3>{{payload.details.title}}</h3>
                <p>This demo does not include booking functionality</p>
                <hr />
                <p id="review-count" class="d-inline-block" (click)="scrollTo(reviews_section)" *ngIf="payload.details.reviews > 0"><span class="text-accent"><app-rating [rating]="payload.details.rating*2"></app-rating></span> <small> {{payload.details.reviews}} Reviews</small><br/><small>Rating: {{payload.details.rating | number : '1.0-2'}}/5</small>
                </p>
                <div>
                    <ks-carousel [id]="100" [images]="carouselImages" [playConfig]="{autoPlay: false, interval: 5000, pauseOnHover: true}" [dotsConfig]="{visible: false}"></ks-carousel>
                </div>
                <div class="info-container">
                    <button class="btn-details" [class.active]="displayMode=='overview'" (click)="displayMode='overview' ;">Overview</button>
                    <button class="btn-details" [class.active]="displayMode=='map'" (click)="displayMode='map' ;">Map</button>

                    <div id="overview-container" class="info-section" [class.d-none]="displayMode !='overview'">
                        <p id="description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ab temporibus, doloribus voluptas alias, odio laborum ad unde expedita consectetur nisi. Modi laborum sint accusantium ab, blanditiis qui minus esse!
                            <br/>
                            <br/>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dignissimos eaque reiciendis placeat praesentium accusamus aliquid in sed rerum non laudantium beatae consequatur cumque eum, rem impedit ad? Unde, quidem.
                            <br/>
                            <br/>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit fugiat veritatis, deleniti modi dolores autem quod ipsam libero quos laboriosam a, praesentium facilis. Expedita delectus dolores laboriosam esse. Sint, nobis.
                        </p>
                    </div>

                    <div id="map-container" class="info-section" [class.d-none]="displayMode !='map'">
                        <app-map *ngIf="displayMode == 'map'" [properties]="[{ latitude: payload.location.lat, longitude: payload.location.lng }]"></app-map>
                    </div>
                </div>
                <hr *ngIf="availability || reviews?.length" />
                <div id="availability-accordion" class="accordion mb-2" *ngIf="availability">
                    <div class="card">
                        <div id="availability-heading" class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse-availability" aria-expanded="true" aria-controls="collapse-availability">
                            <h5 class="mb-0">Availability <span class="fas fa-chevron-down float-end"></span></h5>
                        </div>

                        <div id="collapse-availability" class="collapse show" aria-labelledby="availability-heading" data-bs-parent="#availability-accordion">
                            <div class="card-body">
                                This is the calendar [10/21/21]
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->

                <div #reviews_section id="reviews-accordion" class="accordion" [class.d-none]="!reviews?.length">
                    <div class="card">
                        <div id="reviews-heading" class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse-reviews" aria-expanded="true" aria-controls="collapse-reviews">
                            <h5 class="mb-0">Reviews <span class="fas fa-chevron-down float-end"></span></h5>
                        </div>

                        <div id="collapse-reviews" class="collapse show" aria-labelledby="reviews-heading" data-bs-parent="#reviews-accordion">
                            <div class="card-body">
                                <ng-container *ngFor="let review of reviews; index as i;">
                                    <div>
                                        <hr *ngIf="i != 0" />
                                        <p class="m-0 text-capital"><b>{{review.name}}</b><span class="float-end text-accent"><app-rating [rating]="review.rating*2"></app-rating></span></p>
                                        <div class="mb-3"><small>{{review.createdDate | date: 'MM/dd/yyyy hh:mm a'}}</small></div>
                                        <h6>{{review.headline}}</h6>
                                        <p>{{review.description}}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <app-pagination *ngIf="ratings?.length > reviewsPerPage" [pages]="ratings.length/reviewsPerPage" [maxVisiblePagination]="8" (pageChanged)="updateReviews($event)"></app-pagination>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
        <div class="col-md-4">
            <div id="scroll-container" class="content-card d-md-block" [class.d-none]="!openQuote">
                <div class="row">
                    <div id="reservationform" class="boxed-widget booking-widget margin-top-35">
                        <div class="col-lg-12">
                            <h3>From <span>{{payload.metrics.adr | currency}}</span> / night</h3>
                            <i id="exit-quote" class="fas fa-times d-md-none text-white" (click)="openQuote = false"></i>
                        </div>
                        <div class="row with-forms margin-top-0">
                            <div class="col-lg-12"><input id="DateFrom" class="DateFrom form-control hasDatepicker" placeholder="Arrival Date" autocomplete="off" /> </div>
                            <div class="col-lg-12"><input id="DateTo" class="DateTo form-control hasDatepicker" placeholder="Departure Date" autocomplete="off" /> </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="QuotedpErrorMsg" style="color: red"></div><button class="button book-now fullwidth form-control" type="button">Get Quote</button>
                            <small class="text-muted">*This is just an example widget*</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mobile-book" class="btn-accent d-md-none" *ngIf="!openQuote" (click)="openQuote = true">BOOK</button>
<div id="overlay" class="d-md-none" [class.d-none]="!openQuote"></div>

<ng-template #loading>
    <div class="row">
        <div class="col-12">
            <div id="loading-wrapper">
                <div id="load-box" class="text-center">
                    <div class="spinner-border text-accent" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div id="force-height"></div>
        </div>
    </div>
</ng-template>