@import 'variables.scss';

.page-item {
    .page-link {
        color: $accent-color;
        background-color: $view-button-background-color;
    }
    &.active .page-link {
        color: white;
        background-color: $accent-color;
        border-color: $accent-color;
    }
    button:focus {
        outline: none;
        box-shadow: none;
    }
}