<div class="container mt-2">
    <div class="row">
        <div class="col-md-3 col-lg-2-5 filter-col">
            <app-property-filter></app-property-filter>
        </div>
        <div *ngIf="properties != null; else loading" class="col">
            <div id="view-buttons">
                <h2 id="found-rentals"><span *ngFor="let num of numberOfRentals;" class="rental-num">{{num}}</span> rentals found</h2>
                <button [class.active]="displayMode == 'map'" (click)="displayMode = 'map';"><i class="fa fa-map-marker-alt"></i></button>
                <button [class.active]="displayMode == 'list'" (click)="displayMode = 'list';" class="d-none d-md-inline-block"><i class="fa fa-list"></i></button>
                <button [class.active]="displayMode == 'grid'" (click)="displayMode = 'grid';"><i class="fas fa-th"></i></button>
            </div>
            <div id="propertyResultsConatiner" class="row" [class.d-none]="displayMode == 'map'">
                <div *ngFor="let prop of properties.slice((pageNumber-1)*9, pageNumber*9);" [id]="'property-'+prop.homeaway_property_id" class="listing col-md-6 col-lg-4">
                    <app-property [info]="prop"></app-property>
                </div>
            </div>
            <div [class.d-none]="displayMode != 'map'">
                <app-map *ngIf="displayMode == 'map'" [properties]="properties"></app-map>
            </div>

            <nav [class.d-none]="displayMode == 'map'" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="pageNumber==1">
                        <button class="page-link" aria-label="Previous" (click)="updatePageNumber(pageNumber-1);">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    <li *ngFor="let num of pageNumberSet" class="page-item" [class.active]="num == pageNumber"><button class="page-link" (click)="updatePageNumber(num);">{{num}}</button></li>
                    <li class="page-item" [class.disabled]="pageNumber==pageNumbers.length">
                        <button class="page-link" aria-label="Next" (click)="updatePageNumber(pageNumber+1);">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="col">
        <div id="loading-wrapper">
            <div id="load-box" class="text-center">
                <div class="spinner-border text-accent" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>