@import 'variables.scss';
#view-buttons {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 0;
    h2 {
        display: inline-block;
        font-weight: 400;
    }
    button {
        background-color: #fff;
        border: 2px solid #d9d9d9;
        border-radius: 0;
        border-right-width: 0;
        padding: 7px;
        margin: 0;
        float: right;
    }
    button:focus {
        outline: none;
    }
    button:first-of-type {
        border-right-width: 2px;
        border-radius: 0 4px 4px 0;
    }
    button:last-child {
        border-radius: 4px 0 0 4px;
    }
    button:hover:not(.active):not(.mobile-active) {
        background: #EEE;
    }
    button.active,
    button.mobile-active {
        color: #fff;
        background: $accent-color;
    }
    .rental-num {
        background-color: $logo-secondary-color;
        color: #fff;
        padding: 5px;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        border-radius: 6px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

#propertyResultsConatiner {
    >.listing {
        margin-bottom: 15px;
    }
    &.list-view>.listing {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.pagination {
    margin-top: 8px;
}

.page-item {
    .page-link {
        color: $accent-color;
    }
    &.active .page-link {
        color: white;
        background-color: $accent-color;
        border-color: $accent-color;
    }
    button:focus {
        outline: none;
        box-shadow: none;
    }
}

#loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    #load-box {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .spinner-border {
            height: 100px;
            width: 100px;
            top: 50%;
        }
    }
}

@media screen and (min-width: 768px) {
    #view-buttons {
        button.mobile-active {
            background: #fff;
            color: inherit;
        }
        button:hover:not(.active).mobile-active {
            background: #EEE;
        }
    }
}