@import 'variables.scss';
footer {
    margin-top: 10px;
    padding-top: 10px;
    background-color: $secondary-color;
    border-top: 3px solid $logo-secondary-color;
    .container {
        margin-bottom: 27px;
    }
    #footer-logo {
        width: 50%;
    }
    ul {
        padding: 0;
        list-style: none;
        a {
            color: white;
        }
    }
    #disclaimer {
        font-size: 15px;
    }
    #copyright {
        margin: 0;
    }
}

@media (min-width: 768px) {
    footer {
        padding-top: 20px;
        ul {
            margin: 0;
        }
        #footer-logo {
            width: 100%;
        }
    }
}