<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img id="footer-logo" src="/assets/images/logo.png" alt="Kefi Rentals Logo" />
            </div>
            <div class="col-md-3">
                <nav>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <a routerLink="/" [state]="{destinations: true}" (click)="scrollToDestinations()">Destinations</a>
                        </li>
                        <li>
                            <a routerLink="/search">Search</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <p id="disclaimer" class="text-white">The information provided by Kefi Rentals (“we,” “us” or “our”) on www.staykefi.com is for general informational purposes only. The properties listed on our site are real properties gathered from VRBO. Bookings will not and cannot be placed
                    using this site.</p>
            </div>
        </div>
    </div>
    <p id="copyright" class="text-center text-white">© {{currYear}} Copyright Kefi Rentals</p>
</footer>