<div *ngIf="info" class="card" [class.list-view]="displayMode == 'list'" style="width: 100%;">
    <div style="background-image:url('{{info.img_cover}}');cursor:pointer;" [title]="info.title" class="w-100 prop-img"></div>
    <div class="card-body text-center">
        <p class="starrating text-center text-accent" [innerHtml]="starrating(info.rating ?? 0)"></p>
        <h5 class="text-center">{{info.title}}</h5>
        <h6>{{info.property_type}}</h6>
        <!-- <ul>
            <li>Pets Allowed</li>
            <li>Smoke Free</li>
        </ul> -->
    </div>
    <div class="card-body" style="background-color:#f5f5f5;border-top:1px solid #e8e8e8;">
        <a [routerLink]="['/details', info.homeaway_property_id]" class="btn btn-accent">CONTINUE</a>
        <hr />
        <span class="tag"><span class="price"><b>{{info.adr | currency}}</b>
                <span> /night</span></span>
        </span>
    </div>
</div>