// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.
@use '~@angular/material' as mat;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Kefi-primary: mat.define-palette(mat.$indigo-palette);
$Kefi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$Kefi-warn: mat.define-palette(mat.$red-palette);
// Create the theme object (a Sass map containing all of the palettes).
$Kefi-theme: mat.define-light-theme($Kefi-primary, $Kefi-accent, $Kefi-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Kefi-theme);

/* You can add global styles to this file, and also import other style files */

@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color !important;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder-color !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $placeholder-color !important;
}

a {
    text-decoration: none;
}

.btn-accent {
    color: white;
    width: 100%;
    padding: 14px 35px;
    border-radius: 4px;
    text-align: center;
    background-color: $accent-color;
    &:hover {
        color: white;
        background-color: $alternative-color;
    }
}

.btn-accent-clear {
    color: $accent-color;
    width: 100%;
    padding: 14px 35px;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    border: 1px solid $accent-color;
    font-family: $main-font;
    &:hover {
        color: white;
        background-color: $accent-color;
    }
}

.input-with-icon {
    position: relative;
    cursor: pointer;
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding: 0 0 0 19px;
        color: #999;
        transition: 0.2s;
        pointer-events: none;
    }
    &.right-icon {
        i {
            position: absolute;
            right: 2px;
            left: auto;
            padding: 15px 20px 15px 15px;
        }
        input,
        select {
            padding-right: 40px !important;
        }
    }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}

.mat-form-field-wrapper {
    height: 100%;
    padding-bottom: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.mat-form-field-underline {
    display: none;
}

.mat-icon-button {
    vertical-align: middle !important;
}