$accent-color: var(--accent-color);
$alternative-color: var(--alternative-color);
$card-background-color: var(--card-background-color);
$card-background-secondary-color: var(--card-background-secondary-color);
$card-border-color: var(--card-border-color);
$card-border-color-secondary: var(--card-border-color-secondary);
$card-box-shadow-color: var(--card-box-shadow-color);
$input-color: var(--input-color);
$logo-secondary-color: var(--logo-secondary-color);
$main-background-color: var(--main-background-color);
$placeholder-color: var(--placeholder-color);
$search-background: var(--search-background);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$text-color-active: var(--text-color-active);
$view-button-background-color: var(--view-button-background-color);
$view-button-background-color-hover: var(--view-button-background-color-hover);
$view-button-color: var(--view-button-color);
$view-button-color-active: var(--view-button-color-active);

$main-font: Roboto,
sans-serif;
$secondary-font: 'metropolislight',
Arial,
sans-serif;
$font-weight: normal;
$font-style: normal;